<!doctype html>
<html>
    <head>
        <title>
            Post your reminders here
        </title>
        <link rel=stylesheet type=text/css href="{{ url_for ('static', filename = 'styles.css')}}">
    </head>
    <body>
        <div class='fancy-header'>
            RPostIt
        </div>
        <div class='fancy-desc'>
            Enter a note that you would like displayed as a PostIt note
        </div>
        <div class='input-field'>
            <textarea autofocus rows=5 cols=100 name='postitnote' form='the-only-form'></textarea>

            <form action="{{ url_for ('add_entry') }}" method='post' id='the-only-form'>
                <button type='reset' value='Reset' class='button'>Reset</button>
                <button type='submit' value='Submit' class='button'>Submit</button>
            </form>
        </div>
    </body>
</html>
