<!doctype html>
<html>
    <head>
        <title>
            Post your reminders here
        </title>
        <link rel=stylesheet type=text/css href="{{ url_for ('static', filename = 'styles.css')}}">
    </head>
    <body>
        <div class='fancy-header'>
            RPostIt
        </div>
        <div class='fancy-desc'>
            Enter a note that you would like displayed as a PostIt note
        </div>
        <form action="">
            <button type='reset' value='Reset'>Reset</button>
            <button type='submit' value='Submit'>Submit</button>
        </form>
    </body>
</html>
