.fancy-header {
    color: #3333ee;
    font-size: 2em;
    text-align: center;
}

.fancy-desc {
    color: #333399;
    font-size: 1.5em;
    text-align: center;
}

.reminders {
    color: #1122aa;
    background-color: #8888cc;
    font-size: 1.2em;
    text-align: center;

}
