body {
    text-align: center;
    font-family: Verdana;
    background-color: #B2B2B2;

}

.fancy-header {
    color: #FFEA8C;
    font-size: 2em;
}

.fancy-desc {
    color: #FFEEA2;
    font-size: 1.5em;
}

.reminders {
    color: #222;
    background-color: #8C8EFF;
    font-size: 1.2em;
    font-weight: bold;
    padding: 6px 20px;
    text-transform: capitalize;
    line-height: 12em;
    width: 400px;
    text-align: center;

}

.input-field {

}

.button {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.20em;
    padding: 6px 20px;

    background-color: #FFEEA2;
    text-transform: uppercase;
    border: 1px solid #222;

    cursor: pointer;
    color: #B2B2B2;
    text-decoration: none;

    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;

    box-shadow: 1px 3px 5px #FFEEA2;
    -moz-box-shadow: 1px 3px 5px #FFEEA2;
    -webkit-box-shadow: 1px 3px 5px #FFEEA2;

    background: linear-gradient(top center, #FFEA8C, #FFEEA2);
    background: -o-linear-gradient(#FFEA8C, #FFEEA2);
    background: -moz-linear-gradient(#FFEA8C, #FFEEA2);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFEA8C), to(#FFEEA2));
}

input.button {
    line-height: 1.22em;
}

.button:active, .button:focus {
    color: #000;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#FFEEA2), to(#FFEA8C));
    background: -moz-linear-gradient(#FFEEA2, #FFEA8C);
    background: -o-linear-gradient(#FFEEA2, #FFEA8C);
    background: linear-gradient(left center, #FFEEA2, #FFEA8C);
}
