.fancy-header {
    color: #3333ee;
    font-size: 2em;
    text-align: center;
}

.fancy-desc {
    color: #333399;
    font-size: 1.5em;
    text-align: center;
}

.reminders {
    color: #1122aa;
    background-color: #8888cc;
    font-size: 1.2em;
    text-align: center;

}

.input-field {
    text-align: center;

}

.button {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.20em;
    padding: 6px 20px;

    background-color: #5555BB;
    text-transform: uppercase;
    font-family: Verdana;
    border: 1px solid #CCCCEE;

    cursor: pointer;
    color: #CCCCEE;
    text-decoration: none;

    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;

    box-shadow: 1px 3px 5px #555;
    -moz-box-shadow: 1px 3px 5px #555;
    -webkit-box-shadow: 1px 3px 5px #555;

    background: linear-gradient(top center, #9999DD, #5555BB);
    background: -o-linear-gradient(#9999DD, #5555BB);
    background: -moz-linear-gradient(#9999DD, #5555BB);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#9999DD), to(#5555BB));
}

input.button {
    line-height: 1.22em;
}

.button:active, .button:focus {
    color: #000;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#5555BB), to(#9999DD));
    background: -moz-linear-gradient(#5555BB, #9999DD);
    background: -o-linear-gradient(#5555BB, #9999DD);
    background: linear-gradient(left center, #5555BB, #9999DD);
}
